
html {
overflow: scroll;
overflow-x: hidden;
}
::-webkit-scrollbar {
width: 0px; 
}

body {
background-image: url(http://localhost:8080/todoApp/img/capetownbackground.jpg);
background-color: black;
background-repeat: no-repeat;
background-color: #000;
background-size: 100%;
z-index: -2;
opacity: 0.9;
color: #f9f9f9;

}

.widget{
    min-height: 150px;
}

form{

margin-top: 2%;
z-index: -1;
background-color: #343a40;
}

a{
    color: red;
}
ul{

    list-style: none;
    border-top: 2px solid #f9f9f9;
}

li{
        margin-left: 10%;
        margin-right: 10%;
        border-bottom: 1px solid white;
        text-align: center;
        color:  #5bc0de; 
}

h1{
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #5bc0de;
}
h2{
        font-family: 'Righteous', cursive;
        font-size: 1rem;
       color: #f9f9f9;
     text-align: center;
            
}
#task{
    font-size: 1rem;
    font-family: monospace;
    color:  #5bc0de;
}

#due{
    font-size: 1rem;
    font-family: monospace;
    color: 	#5cb85c;
}

#deadline{
    font-size: 1rem;
    font-family: monospace;
    color: #d9534f;
}

#time{
    font-size: 1rem;
    font-family: monospace;
    color: darkgray;
}

#control{
    text-align: center;
}

button{
    color: #5bc0de;
}
